$gray: #777;
$white: #fff;
$white-footer: #eaeaea;
$footer-a: #555;
$footer-a-hover: #222;
$cyan: rgb(58, 187, 204);
$gray-medium-light: #eaeaea;
$gray-lighter: #bbb;
$red: red;
$border-lighter: #e8e8e8;
$blue: blue;
